* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
#container {
  height: 100px;
  width: 100%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: white;
}
#container .left_block {
  height: inherit;
  width: 500px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#container .right_block {
  height: inherit;
  width: 600px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left_block .logo {
  height: fit-content;
  width: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left_block .hyperlinks {
  height: fit-content;
  width: 350px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left_block .grid_icon {
  height: fit-content;
  width: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right_block .search_bar {
  height: fit-content;
  width: 250px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right_block .language {
  height: fit-content;
  width: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right_block .login {
  height: fit-content;
  width: 100px;
  background: none;
  border: 1px solid black;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right_block .buynow {
  height: fit-content;
  width: 100px;
  background: none;
  border: 1px solid black;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right_block .bars {
  height: fit-content;
  width: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hyperlinks div {
  height: fit-content;
  width: fit-content;
  border: 1px solid black;
  cursor: pointer;
}
