* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
}
section{
    height: 350px;
    width: 300px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
}
section #emoji{
    height: 80px;
    width: 80px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
#emoji{
    font-size: 50px;
}